@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.logo {
  background-color: #5b82bd;
  border-end-end-radius: 39%;
  border-start-start-radius: 39%;
}

body {
  color: rgb(var(--foreground-rgb));
}

.invalid-feedback {
  color: red;
  font-size: 12px;
  margin-top: 8px;
}

.require-star {
  color: red;
  font-size: 14px;
  margin-left: 1px;
  display: inline-block;
  position: relative;
  top: -3px;
}

/* .gradient-box {
  background: rgb(209, 199, 209);
  background: radial-gradient(circle, rgba(209, 199, 209, 1) 5%, rgba(240, 198, 235, 1) 53%, rgba(188, 194, 249, 1) 100%);
} */